.project {
    mix-blend-mode: normal;
    border-radius: 20px;
    opacity: 1;
    height: 100%;
    background: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ensures consistent spacing */
}

.project a {
    text-decoration: none;
}

.project-link:hover {
    color: var(--link-color);
    transition: color 0.3s ease-in-out;
}

.project-container {
    padding: 30px;
    display: flex;
    flex-direction: column;
    height: 100%; /* Ensures full height usage */
}

.project-logo {
    width: 40px;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

.project-logo img {
    width: 100%;
}

.project-title {
    font-family: var(--secondary-font);
    color: var(--primary-color);
    font-size: 16px;
    padding-top: 15px;
    margin-bottom: 1em;
    font-weight: 700;
}

.project-description {
    color: var(--secondary-color);
    flex-grow: 1; /* Pushes content down to create equal spacing */
}

.project-link {
    display: flex; /* Use flexbox to align items horizontally */
    align-items: center; /* Vertically align icon and text */
    color: var(--secondary-color);
    font-size: 14px;
    margin-top: 20px;
    padding: 10px 0;
    gap: 8px; /* Adds spacing between the icon and text */
}

.project-link-icon {
    font-size: 16px; /* Adjust icon size */
    padding-left: 0; /* Remove unnecessary padding */
}

.project-link-text {
    font-weight: 700;
    padding-left: 0; /* Align text closer to the icon */
}

@media (max-width: 600px) {
    .project {
        height: 300px;
    }
}
